<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th style="color: brown;">STAFF LEAVE REQUEST</th>
            <tr>
                <td>
                    <label>staff name:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="stnme" id="stnme"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>staff id:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id1" name="id1" maxlength="4"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Leave type:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="typ" name="typ"/>casual leave
                </td>
                <td>
                    <input type="radio" id="typ1" name="typ1"/>previlage leave  
                </td>
            </tr>
            <tr>
                <td>
                    <label>No of leave requested for:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="leave" name="leave"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No of availed leave as so far:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="leave1" name="leave1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No of pending leave:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="leavepend" name="leavepend"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Reason for leave:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="reason" id="reason"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button>Leave submit</button>
                </td>
            </tr>
</body>
</html>