<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th style="color: red;">ROOM AVAILABILITY</th>
            <tr>
                <td>
                    <label for="total">Total no of rooms:</label>
                </td>
            </tr>
            <tr>
                <td>
                <input type="number" id="room" name="room"/></td>
            </tr>
            <tr>
                <td>
                    <label>no of availed room: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="room1" name="room1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>no of Reserved room: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="room2" name="room2"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button>Update</button>
                </td>
            </tr>

        </table>
    </form>
</body>
</html>