<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th style="border: 1;color:brown">RESORT RESERVATION</th>
            <tr>
                <td>
                    <label>first name:</label></td>
                    <td><label> second name:</label>
                </td>
                <tr>
                    <td>
                        <input type="text" placeholder="enter the name" id="first" name="first"/></td>
                        
                        <td><input type="text" placeholder="enter the second name" id="second" name="second"/>
                    </td>
                </tr>
            </tr>
            <tr>
                <td>
                    <label>phone no:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="phno" name="phno"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>email:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="email" id="email" name="email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Arrival Date:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="date" id="date" name="date"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Depature date:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="date" id="depature" name="depature"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No of adults:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="adult" name="adult"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No of children:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="child" name="child"/>
                </td>
            </tr>
            <tr>
                <td>
            <button>submit</button></td></tr>
        </table>
    </form>
</body>
</html>