<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th style="color: green;">SALARY</th>
            <tr>
                <td>
                    <label>staff name:</label>
                </td>
            </tr>
            <tr>
            <td>
                <input type="text" id="name1" name="name1"/>
            </td></tr>
            <tr>
                <td>
                    <label>staff id:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="no" name="no"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>salary:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="sal" name="sal"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button>submit</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>