<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
        <tr>
            <th style="color: BLUE;">STAFF DETAILS</th>
            <tr>
            <td>
                <label>Staff name:</label>

            </td></tr>
            <tr>
            <td>
                <input type="text" id="stname" id="stname"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>phone no:</label></td></tr>
                <tr>
                    <td>
                <input type="text" id="num" name="num"/></td></tr>
            
        
        <tr>
            <td>
                <label>email:</label></td>
        </tr>
        <tr>
                <td>
                <input type="email" name="mail" id="mail"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>adress:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="adrs" name="adrs"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Qualification:</label>
            </td>
        </tr>
        <tr>
            <TD>
            <select>
                <option value="MBA">MBA</option>
                <option value="HOTEL MANAGEMENT">HOTEL MANAGEMENT</option>
                <option value="MCOM">MCOM</option>
                <option value="MSC">MSC</option>
                <option value="BCA">BCA</option>
            </select></TD>
        </tr>
        <tr>
            <td>
                <button>submit</button>
            </td>
        </tr>
        </table>
    </form>
</body>
</html>