<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th style="color: red;">CUSTOMER COMPLAINTS</th>
            <tr>
                
                    <td>
                        <label>Name of the customer:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="text" id="nme" name="nme" placeholder="enter the name"/></td>
              
                </tr>
                <tr>
                    <td>
                        <label>phno:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="ph1" name="ph1"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>email:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" id="mail1" name="mail1"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Room allowed</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="room1" name="room1"/>
                    </td>
                </tr>
                <tr>
                    <td><label>complaints:</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="com" id="com"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>post</button>
                    </td>
                </tr>
        </table></form>
    
</body>
</html>